tmux/plugins
coc/extensions
configstore
neofetch
raycast
yarn
tmuxinator
shopify
yarn
iterm2
gh/hosts.yml
planetscale/access-token
sanity/config.json
node_modules
.DS_Storenvim/.netrwhist
Code - OSS (headmelted)/
Mousepad/
Trolltech.conf
autostart/
chromium/
dconf/
deluge/
fish/functions/pbcopy.fish
gpicview/
gtk-2.0/
libfm/
lxpanel/
lxsession/
lxtask.conf
lxterminal/
menus/
pcmanfm/
pulse/
retroarch
user-dirs.dirs
user-dirs.locale
vlc/
xarchiver/
github-copilot/
